name: Build Containerfile and publish

on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build_publish:
    permissions:
      packages: write
    runs-on: ubuntu-latest
    steps:
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: mamotromico
          password: ${{ secrets.DOCKERHUB_TOKEN }}
    
      - name: Checkout repository
        id: checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Get latest suwayomi release metadata
        id: get_latest_suwayomi_release_metadata
        run: |
          curl -s https://api.github.com/repos/suwayomi/suwayomi-server/releases/latest > ${{ runner.temp }}/latest_suwayomi_release.json
          suwayomi_release_url=$(jq -r '.assets[] | select(.content_type == "application/java-archive") | .browser_download_url' ${{ runner.temp }}/latest_suwayomi_release.json)
          suwayomi_release_tag=$(jq -r '.tag_name' ${{ runner.temp }}/latest_suwayomi_release.json)
          suwayomi_release_filename=$(basename $suwayomi_release_url)
          git_commit=$(git rev-list --count HEAD)
          build_date=$(date "+%F")
          echo "suwayomi_release_url=$suwayomi_release_url" >> $GITHUB_OUTPUT
          echo "suwayomi_release_tag=$suwayomi_release_tag" >> $GITHUB_OUTPUT
          echo "suwayomi_release_filename=$suwayomi_release_filename" >> $GITHUB_OUTPUT
          echo "git_commit=$git_commit" >> $GITHUB_OUTPUT
          echo "build_date=$build_date" >> $GITHUB_OUTPUT

      - name: Get latest tini release metadata
        id: get_latest_tini_release_metadata
        run: |
          curl -s https://api.github.com/repos/krallin/tini/releases/latest > ${{ runner.temp }}/latest_tini_release.json
          tini_release_tag=$(jq -r '.tag_name' ${{ runner.temp }}/latest_tini_release.json)
          echo "tini_release_tag=$tini_release_tag" >> $GITHUB_OUTPUT

      - name: Build containerfile
        id: build_containerfile
        uses: redhat-actions/buildah-build@v2
        with:
          image: suwayomi-server
          containerfiles: |
            ./Containerfile
          oci: true
          layers: false
          tags: ${{steps.get_latest_suwayomi_release_metadata.outputs.suwayomi_release_tag}} latest
          build-args: | 
            SUWAYOMI_RELEASE_TAG=${{steps.get_latest_suwayomi_release_metadata.outputs.suwayomi_release_tag}}
            SUWAYOMI_RELEASE_FILENAME=${{steps.get_latest_suwayomi_release_metadata.outputs.suwayomi_release_filename}}
            SUWAYOMI_RELEASE_DOWNLOAD_URL=${{steps.get_latest_suwayomi_release_metadata.outputs.suwayomi_release_url}}
            BUILD_DATE=${{steps.get_latest_suwayomi_release_metadata.outputs.build_date}}
            GIT_COMMIT=${{steps.get_latest_suwayomi_release_metadata.outputs.git_commit}}
            TINI_RELEASE_TAG=${{steps.get_latest_tini_release_metadata.outputs.tini_release_tag}}

      - name: Push To ghcr
        id: push_to_ghcr
        uses: redhat-actions/push-to-registry@v2
        with:
          image: ${{ steps.build_containerfile.outputs.image }}
          tags: ${{ steps.build_containerfile.outputs.tags }}
          registry: ghcr.io/mamotromico
          username: mamotromico
          password: ${{ github.token }}
      